.galleryContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Conteneur des cartes */
.gallery {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
}

/* Boutons de navigation */
.arrowLeft,
.arrowRight {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.arrowLeft:hover,
.arrowRight:hover {
  background: rgba(0, 0, 0, 0.8);
}
